body{
    display: flex;
    flex-direction: column;   

    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #000000;
    color: #fff;
}
div{
    display: flex;
    align-items: center;
    width: 100%;
}
h1{
    background: -webkit-linear-gradient(#225eff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 1rem 3rem;
    transition: all .5s;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #225eff;
    text-shadow: 2px 2px 10px #000;
}

.container-msg{
    display: flex;
    width: 100%;
    padding: 2rem 0;
}
.msg{
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    width: max-content;
    background-color: #c9e9ff;
    color: #225eff;
    position: absolute;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    top: 0;
    right: 2%;
    animation: visible 2s ease;
}
@keyframes visible {
    from {opacity: 1;}
    to {opacity: 0;}
}

.login{
    margin-left: 3rem;
}
.login a{
    background-color: #225eff;
}

/* HOME */

#search-container, .container-home, #event-container {
    display: flex;
    flex-direction: column;
}
#search-container h2 {
    color: #fff;
    font-size: 2rem;
}
#search-container form input {
    padding: 1rem 2rem;
}
.eventos{
    display: flex;
    flex-direction: column;
}
.eventos li::marker{
    color: #225eff;
}
.eventos li{
    display: flex;
}
.eventos li a{
    padding: 1rem;
    position: relative;
    z-index: 2;
}
.eventos li a:hover:after{
    content: "";
    position: absolute;
    display: block;
    min-width: 90%;
    top: 50%;
    left: 5%;
    height: 6px;
    z-index: -1;
    background-color: #225eff;
}

/* eventos */
.evento-page{
    display: flex;
}
.evento-page div{
    width: 80%;
    margin: 0 auto;
}
.evento-page div div:nth-child(1){
    display: flex;
    flex-direction: column;
    flex: 1;
}
.evento-page > div > div {
    width: 80%;
    align-items: flex-start;
}
.evento-page div img{
    width: 50%;
}
.evento-page > div div:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    padding: 2rem;
    border-radius: 6px;
}
.evento-page > div div:nth-child(2) h2, .evento-page > div div:nth-child(2) h3{
    color: #8c8c8c;
}
.evento-page > div div:nth-child(2) ul li:hover{
    transform: scale(1.050, 1.050);
}
.evento-page > div div:nth-child(2) ul li::marker{
    color: #5180ff;
}
.evento-page > div div:nth-child(2) ul li:hover::marker{
    color: #225eff;
}

.evento-private{
    color: #ffff6a;
}
.evento-public{
    color: #5cff5c;
}

/* Cadastrar itens */
.container-itens, .container-itens div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Cadastrar eventos */
.new-event{
    display: flex;
    width: 100%;
}
.new-event div:nth-child(2) form{
    display: flex;
    flex-direction: column;
}
.new-event div:nth-child(2) form div {
    align-items: flex-start;
    text-align: left;
}

.eventos li a img{
    width: 200px;
}

.content-container{
    display: flex;
    flex-direction: column;
}
.content-container div{
    display: flex;
    width: 100%;
}
.content-container div a{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    margin: .5rem auto;
    border: 2px solid #225eff;
    transition: all .5s;
}
.content-container div a:hover{
    background-color: #225eff;
}


.name__footer{
    border-bottom: 2px solid #225eff;
    padding: 5px;
    color: #fff;
}

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
}